* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0;
}
.full-container{
  width: 100%;
  padding: 0;
  margin: 0;
}
.container-padding{
  padding: 15px 0;
}
.line{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.line-gap{
  grid-gap: 15px;
}
.span-1{
  grid-column: span 1;
}
.span-2{
  grid-column: span 2;
}
.span-3{
  grid-column: span 3;
}
.span-4{
  grid-column: span 4;
}
.span-5{
  grid-column: span 5;
}
.span-6{
  grid-column: span 6;
}
.span-7{
  grid-column: span 7;
}
.span-8{
  grid-column: span 8;
}
.span-9{
  grid-column: span 9;
}
.span-10{
  grid-column: span 10;
}
.span-11{
  grid-column: span 11;
}
.span-12{
  grid-column: span 12;
}

.square{
  width: 100%;
  height: 200px;
  border: solid 5px blue;
}
