.border-img{
  border: 2px solid white;
}

.nav-top{
  width: 100%;
  height: 40px;
  background-color: #26edbb;
  text-align: center;
}
.nav-bottom{
  width: 100%;
  height: 80px;
  background: #555;
}

.nav-full-container{
  flex-direction: column;
}

.logo{
  width: 200px;
  margin-left: 5%;
}

.nav-p{
  color: white;
  display: flex;
  width: 50%;
  margin: 0 auto;
  height: 100%;
}

.nav-p p{
  display: inline;
  flex: 1;
  align-self: center;
}

.button{
  border: solid 1px #26edbb;
  padding: 10px;
  color: white;
  font-weight: bold;
  background: none;
  display: inline-block;
}

.button:hover{
  background: #26edbb;
  transition: .4s ease-in-out;
}
